### **Correlationship between Datacolumns and Target column**

* Performing correlation analysis between data columns and the target column helps identify relationships, select relevant features, and detect redundant ones.
* It reveals which features are most likely to influence the target variable, informs preprocessing and feature engineering, and reduces the risk of overfitting. 
* This step is crucial for improving model performance, interpretability, and understanding of the dataset.
* This guide helps us in understanding how to find the correlationship between data columns and target column.

**1. Import necessary libraries**

In [73]:
import pandas as pd
import xlrd

**2. Read the file**

In [30]:
df = pd.read_excel("E:\\Machine Learning\\global_superstore\\Global Superstore.xls")

**3. Performing Basic Analysis**

In [31]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [32]:
df.shape

(51290, 24)

In [33]:
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375818
min,1.00000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.002000
25%,12823.25000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296810

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(15)
memory usage: 9.4+ MB

**4. Classifying the data columns & Removal of null values**

In [35]:
df_num = df.select_dtypes(include = [np.number])
df_cat = df.select_dtypes(include = ['object'])

In [36]:
df_num.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375818
std,14806.29199,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296810
min,1.00000,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.002000
25%,12823.25000,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [37]:
df.describe(include = 'all')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
count,51290.00000,51290,51290,51290,51290,51290,51290,51290,51290,51290,...,51290,51290,51290,51290,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290
unique,NaN,25035,NaN,NaN,4,1590,795,3,3636,1094,...,10292,3,17,3788,NaN,NaN,NaN,NaN,NaN,4
top,NaN,CA-2014-100111,NaN,NaN,Standard Class,PO-18850,Muhammed Yedwab,Consumer,New York City,California,...,OFF-AR-10003651,Office Supplies,Binders,Staples,NaN,NaN,NaN,NaN,NaN,Medium
freq,NaN,14,NaN,NaN,30775,97,108,26518,915,2001,...,35,31273,6152,227,NaN,NaN,NaN,NaN,NaN,29433
mean,25645.50000,NaN,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,246.490581,3.476545,0.142908,28.610982,26.375818,NaN
min,1.00000,NaN,2011-01-01 00:00:00,2011-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.444000,1.000000,0.000000,-6599.978000,0.002000,NaN
25%,12823.25000,NaN,2012-06-19 00:00:00,2012-06-23 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,30.758625,2.000000,0.000000,0.000000,2.610000,NaN
50%,25645.50000,NaN,2013-07-08 00:00:00,2013-07-12 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,85.053000,3.000000,0.000000,9.240000,7.790000,NaN
75%,38467.75000,NaN,2014-05-22 00:00:00,2014-05-26 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,251.053200,5.000000,0.200000,36.810000,24.450000,NaN
max,51290.00000,NaN,2014-12-31 00:00:00,2015-01-07 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,22638.480000,14.000000,0.850000,8399.976000,933.570000,NaN
std,14806.29199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,487.565361,2.278766,0.212280,174.340972,57.296810,NaN

In [38]:
df_cat.isnull().sum().sort_values(ascending = False)

Order ID          0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Market            0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Order Priority    0
dtype: int64

In [39]:
df_num.isnull().sum().sort_values(ascending = False)

Postal Code      41296
Row ID               0
Sales                0
Quantity             0
Discount             0
Profit               0
Shipping Cost        0
dtype: int64

* Here column 'Postal Code' has null valuesmore than 5 % hence we need to remove that columns as it is of no use in the dataset.
* to identify the percentage of null values in a columns apply this code  : 
  *  **df_num['Postal Code'].isnull().sum()/len(df_num)*100**

In [41]:
df_num.drop(['Postal Code'], axis = 1, inplace = True)

In [42]:
df_num.isnull().sum().sort_values(ascending = False)

Row ID           0
Sales            0
Quantity         0
Discount         0
Profit           0
Shipping Cost    0
dtype: int64

**5. Performing Correlationships between data columns and target column**

### Correlationship between Numerical columns and Target column.

* Compute Correlation: df_num_corr = df_num.corr() calculates the correlation matrix for the numerical columns in df_num, which includes the relationships between each pair of columns.

In [43]:
df_num_corr = df_num.corr()

* Correlation with 'Profit' : Identify the correlation of 'Profit' with other columns.

In [44]:
df_num_corr['Profit']

Row ID          -0.019037
Sales            0.484918
Quantity         0.104365
Discount        -0.316490
Profit           1.000000
Shipping Cost    0.354441
Name: Profit, dtype: float64

* Filter Based on Correlation with 'Profit': Columns with a strong positive correlation (> 0.3) or strong negative correlation (< -0.3) to the target column 'Profit' are identified.

In [49]:
df_num_columns = []
df_num_columns.extend(df_num_corr[(df_num_corr["Profit"]>0.3)].index.values)
df_num_columns.extend(df_num_corr[(df_num_corr["Profit"]<-0.3)].index.values)

* Store Relevant Columns: The indices of these strongly correlated columns are added to df_num_columns, creating a list of numerical features strongly related to 'Profit'.

In [74]:
df_num_columns

['Sales', 'Profit', 'Shipping Cost', 'Discount']

### Correlationship between Categorical columns and Target column.

* Importing f_oneway: from scipy.stats import f_oneway imports the one-way ANOVA test function from scipy.stats, which compares the means of multiple groups to see if they are significantly different.

In [51]:
from scipy .stats import f_oneway

* Creating 'P' Column: df_cat['P'] = df_num['Profit'] creates a new column 'P' in the df_cat DataFrame, where the values are taken from the 'Profit' column of the df_num DataFrame, linking the target variable (profit) to the categorical DataFrame.

In [52]:
df_cat['P'] = df_num['Profit']

* Grouping Data: The line groups = [df_cat['P'][df_cat['Market'] == category] for category in df_cat['Market'].unique()] creates a list of groups by filtering df_cat['P'] based on unique categories in the 'Market' column, creating separate groups of profit values for each market category.

In [55]:
df_cat.columns

Index(['Order ID', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment',
       'City', 'State', 'Country', 'Market', 'Region', 'Product ID',
       'Category', 'Sub-Category', 'Product Name', 'Order Priority', 'P'],
      dtype='object')

* One-Way ANOVA Test: f_stat, p_value = f_oneway(*groups) performs a one-way ANOVA to compare the mean profit ('P') across different categories of the 'Market' column, outputting the F-statistic (f_stat) and the p-value (p_value).

In [56]:
groups = [df_cat['P'][df_cat['Market'] == category] for category in df_cat['Market'].unique()]

f_stat,  p_value = f_oneway(*groups)
print(f"F-statistic : {f_stat}, p-value : {p_value}")

F-statistic : 28.07818874959561, p-value : 1.0834601137634787e-33

### Performing One way ANOVA Test with multiple columns before performing here is the small description of F-Statistic and p-value.

**F-statistic**
* The F-statistic is a ratio used in analysis of variance (ANOVA) to determine whether there is a significant difference between the means of different groups. It compares the variance between the groups to the variance within the groups.
                
                F= Variance Within Groups / Variance Between Groups         

**p-value**
* The p-value is the probability of observing the test statistic (or something more extreme) under the assumption that the null hypothesis is true. It helps to decide whether to reject the null hypothesis.

* Null Hypothesis (H₀): There is no significant difference between the groups (i.e., the means of all groups are equal).

* Alternative Hypothesis (H₁): At least one group mean is significantly different from the others.

* Low p-value (< 0.05): Indicates strong evidence against the null hypothesis. If the p-value is small, you reject the null hypothesis, concluding that there are significant differences between the group means.
* High p-value (>= 0.05): Indicates weak evidence against the null hypothesis. If the p-value is large, you fail to reject the null hypothesis, concluding that there is no significant difference between the group means.

In [60]:
influence_list = []
noninfluence_list = []
for influence1 in list (df_cat.columns):
    if influence1 == 'P':
        continue
    else:
        groups = [df_cat['P'][df_cat[influence1] == category] for category in df_cat[influence1].unique()]
        f_stat, p_value = f_oneway(*groups)
        print(f"column : {influence1}, F-statistic: {f_stat}, P-value: {p_value}")
        if p_value < 0.05:
            influence_list.append(influence1)
        else:
            noninfluence_list.append(influence1)

column : Order ID, F-statistic: 1.0775148134190364, P-value: 1.1350594713462918e-09
column : Ship Mode, F-statistic: 0.1112694400346025, P-value: 0.953549120213493
column : Customer ID, F-statistic: 1.1374918958952611, P-value: 0.00012663690762868544
column : Customer Name, F-statistic: 1.1538436569505661, P-value: 0.0017954686365357188
column : Segment, F-statistic: 0.22119237404323483, P-value: 0.8015632303031714
column : City, F-statistic: 2.164422870379703, P-value: 1.9283854765863786e-276
column : State, F-statistic: 4.709630866402644, P-value: 0.0
column : Country, F-statistic: 22.25802770920221, P-value: 0.0
column : Market, F-statistic: 28.07818874959561, P-value: 1.0834601137634787e-33
column : Region, F-statistic: 34.26121568235655, P-value: 3.617471983600004e-80
column : Product ID, F-statistic: 4.007224887155522, P-value: 0.0
column : Category, F-statistic: 304.50613538510225, P-value: 3.4173111634965594e-132
column : Sub-Category, F-statistic: 103.91551183097653, P-value: 0.0
column : Product Name, F-statistic: 5.533698195429955, P-value: 0.0
column : Order Priority, F-statistic: 1.461514297034312, P-value: 0.22283640166560595

**Columns showing significant relationship with target column**

In [61]:
influence_list

['Order ID',
 'Customer ID',
 'Customer Name',
 'City',
 'State',
 'Country',
 'Market',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name']

**Columns showing non-significant relatiosnhip with target column**

In [62]:
noninfluence_list

['Ship Mode', 'Segment', 'Order Priority']

**Forming a dataframe**

In [65]:
df_cat1 = df_cat[influence_list]

In [66]:
df_cat1.columns

Index(['Order ID', 'Customer ID', 'Customer Name', 'City', 'State', 'Country',
       'Market', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name'],
      dtype='object')

In [67]:
df_cat1.head()

,Order ID,Customer ID,Customer Name,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name
0,CA-2012-124891,RH-19495,Rick Hansen,New York City,New York,United States,US,East,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...
1,IN-2013-77878,JR-16210,Justin Ritter,Wollongong,New South Wales,Australia,APAC,Oceania,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black"
2,IN-2013-71249,CR-12730,Craig Reiter,Brisbane,Queensland,Australia,APAC,Oceania,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID"
3,ES-2013-1579342,KM-16375,Katherine Murray,Berlin,Berlin,Germany,EU,Central,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless"
4,SG-2013-4320,RH-9495,Rick Hansen,Dakar,Dakar,Senegal,Africa,Africa,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed"

**6. Performing Label Encoding**

* Label Encoding is a technique used to convert categorical variables into numeric values, where each category or label is assigned a unique integer value. This is particularly useful when working with machine learning algorithms that require numeric input, such as linear regression or decision trees.

* Many machine learning algorithms work with numerical data, so encoding categorical variables ensures that models can process them. Algorithms such as decision trees, logistic regression, and neural networks require numeric inputs.

*  Label encoding transforms the categorical data into a format that can be efficiently handled by mathematical operations, such as matrix operations, which are used in many machine learning models.

In [68]:
from sklearn.preprocessing import LabelEncoder

In [69]:
le = LabelEncoder()

In [71]:
df_cat1_e = df_cat1.apply(le.fit_transform)

In [72]:
df_cat1_e.head()

,Order ID,Customer ID,Customer Name,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name
0,1499,1286,632,2290,703,139,6,6,8246,2,0,2750
1,13063,808,413,3518,702,6,0,9,907,0,5,2525
2,12983,336,181,497,820,6,0,9,10157,2,13,2502
3,6813,873,424,375,145,47,4,3,10146,2,13,2414
4,21702,1290,632,857,270,110,1,0,10249,2,6,3158